
@media screen and (min-width:768px) {
    /* .freight-order-wrapper .raise-contract-detail .form-group:nth-child(odd):not(:first-child){
        padding-left: 20px;
    }
    .freight-order-wrapper .raise-contract-detail .form-group:nth-child(even){
        padding-right: 20px;
    } */
    .freight-order-wrapper .dispatch-card-wrapper {
        padding: 15px 30px 20px;
    }
    .freight-order-wrapper .creat-contract-wrapp .creat-contract-header {
        padding: 10px 40px;
    }
}
/* @media screen and (max-width:767px) {

} */