.contribution-count{
    width: 70px;
    padding: 4px 15px;
    background-color: #fee9d2;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
}
.indent-detail-wrapper .creat-wrapp{
    margin: 12px 15px 8px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
    border-radius: 8px;
    overflow: inherit;
}
@media (min-width:992px) {
    .indent-detail-wrapper .table-list-view .table-wrapper {
        min-height: 440px;
        max-height: 440px;
        overflow: auto;
    }
}

@media(max-width:768px){
    .contribution-count {
        width: 50px;
        padding: 4px 8px;
    }
}
@media(max-width:767px){
    .indent-detail-wrapper .creat-wrapp{
        margin: 0 15px 20px;
        box-shadow: none;
    }
}