.vehicle-skeleton .MuiSkeleton-root {
    background-color: #eaeff3;
    transform: none;
    border-radius: 15px;
}
.vehicle-skeleton .vehicle-data h4 .MuiSkeleton-root{
    width: 62px;
    height: 29px;
    margin: 0 auto 5px;
}
.vehicle-skeleton .vehicle-data span .MuiSkeleton-root{
    width: 54px;
    height: 11px;
    margin-right: 3px;
}
.vehicle-skeleton.vehicle-report-content .vehicle-data span{
    display: inline-block;
    padding: 0;
}

@media (max-width:767px) {
    .vehicle-skeleton .vehicle-data h4 .MuiSkeleton-root{
        margin: 0;
    }
}