.plan-list-header .btn,
.listing-body .btn {
    font-size: 14px;
    height: auto;
}

/* plan header */
.plan-list-header {
    margin-bottom: 30px;
}

.plan-list-header .MuiCheckbox-root {
    margin-right: 30px;
    margin-left: 16px;
}

.plan-list-header h3 {
    font-size: 20px;
    line-height: 1.2;
    color: #797979;
    font-weight: normal;
}

.plan-list-header h3 span {
    font-weight: bold;
    color: #083654;
}

@media (min-width:768px) {
    .plan-listing-wrapper .dispatch-card-wrapper{
        padding: 20px;
    }
}
