 .material-detail .autosuggest-wrap .MuiInputBase-input{
    background-color: #ffffff;
}
.mt_10{
    margin-top: 20px !important;
}
.mt_10 label{margin-bottom: 5px;}

.order-remarks{
    position: relative;
    top: 6px;
}
.order-remarks>label{
    font-size: 13px;
    line-height: 1.15;
    margin-bottom: 5px;
    color: #083654;
}
.order-remarks>textarea{
    width: 100%;
    height: 49px !important;
    padding: 10px 15px;
    border: 2px solid #e0e4e6;
    border-radius: 4px;
    font-size: 13px;
    line-height: 1.15;
    letter-spacing: 0.26px;
    color: #083654;
}
.order-remarks>textarea::placeholder{
    color: rgba(8, 54, 84, .5);
}

@media screen and (min-width:768px) {
    /* .freight-order-wrapper .raise-contract-detail .form-group:nth-child(odd):not(:first-child){
        padding-left: 20px;
    }
    .freight-order-wrapper .raise-contract-detail .form-group:nth-child(even){
        padding-right: 20px;
    } */
    .freight-order-wrapper .dispatch-card-wrapper {
        padding: 15px 30px 20px;
    }
    .freight-order-wrapper .creat-contract-wrapp .creat-contract-header {
        padding: 10px 40px;
    }
    .freight-order-wrapper .creat-contract-wrapp .creat-contract-content{padding: 18px 40px 10px;}

}
@media screen and (max-width:767px) {
    .mb-30{
        margin-bottom: 30px !important;
    }
}
.custom-form-row .input-disabled-fullname .MuiInputBase-root.Mui-disabled .MuiInputBase-input{
    overflow: initial;
    text-overflow: initial;
}