/* shipment stepper */
.shipment-stepper-wrap.lane-stepper-wrap .MuiStepper-vertical{
    padding: 7px 0 0 10px;
}
.shipment-stepper-wrap.lane-stepper-wrap .MuiStepLabel-labelContainer{margin-top: -4px;}
.shipment-stepper-wrap.lane-stepper-wrap .MuiStep-root::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    background: #acb6c0;
    left: 25px;
    padding: 0;
}
.shipment-stepper-wrap .MuiStep-vertical:last-child::before{
    display: none;
}
.shipment-stepper-wrap.lane-stepper-wrap .MuiStep-completed::before,
.shipment-stepper-wrap.lane-stepper-wrap .MuiStep-active::before{
    background: #69cb10;
    left: 25px;
}
.shipment-stepper-wrap.lane-stepper-wrap .MuiStep-vertical {
    min-height: 125px;
}
.shipment-stepper-wrap .MuiStepLabel-iconContainer {
    padding-right: 36px;
}
.shipment-stepper-wrap .label{
    font-size: 15px;
    font-weight: 500;
    line-height: 1.13;
    color: #083654;
}
.shipment-stepper-wrap .item-title{
    font-size: 12px;
    line-height: 1.4;
    color: #454545;
}
.all-update{
    display: block;
    font-size: 12px;
    color: #006CC9;
    cursor: pointer;
}
.all-update:hover{
    text-decoration: underline;
}
.shipment-stepper-wrap .MuiStepLabel-label{
    opacity: 0.6;
    display: block;
}
.shipment-stepper-wrap .MuiStepLabel-label.MuiStepLabel-active,
.shipment-stepper-wrap .MuiStepLabel-label.MuiStepLabel-completed{opacity: 1;}


.shipment-stepper-wrap .ex-delivery-date{
    margin-bottom: 4px;
    font-style: italic;
    opacity: 1;
    font-weight: 400;
    font-size: 13px;
    color: #f7931e;
    letter-spacing: 0.5px;
}

.shipment-stepper-wrap .MuiStepLabel-labelContainer{
    width: 80%;
}